@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

#root {
    --primary-color: #018ffa;
    --background-color: #1d1c2a;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    line-height: 1.5;

    background-color: #1d1c2a;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
